body {
  background-color: lavender;
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  font-size: 24px;
}

h1 {
  font-size: 80px;
  margin-bottom: 40px;
}

.invisibox {
  margin: 20%;
}
